/* CSS Document */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,{
  display: block;
  text-align: center;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content:" ";
	display: block;
}

.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}

html, body {
	margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
	float: left;
	width: 100%;
}

nav{
	margin-bottom: 0!important;
}

/*-----  Nav     -----*/

.navbar{
	border-top: 3px solid #2098d1!important;
}

#navbar-collapse-1 li a{
	color: rgba(255,255,255,1.00);
	font-weight: 600;
}



#navbar-collapse ul li:active a{
	border-bottom: 3px solid #2098d1;
}


#navbar-collapse-1 li a:hover{
	color: #2098d1;
	background: none;
} 

#navbar-collapse-1 li.active a{
	background:none;
	border-bottom: 3px solid #2098d1;
}

/*
#navbar-collapse-1 .navbar-nav .active{
	background: none!important;
}

#navbar-collapse-1 .navbar-nav a:active{
	color: #2098d1!important;
	background: none!important;
	border-bottom: 3px solid #2098d1!important;
}

#navbar-collapse-1 .active:active{
	background-color: none!important;
}
*/
.navbar-brand{
	color: rgba(255,255,255,1.00)!important;
}

a .navbar-brand:hover{
	text-decoration: none;
	cursor: default;
}

a:-webkit-any-link {
	cursor: auto;
}

/* --------------- MAIN     --------------- */
#globalWrapper{
	margin: 0 auto;
}

#globalWrapper .jumbotron h2{
	text-align:center;
}

#globalWrapper .jumbotron .container-fluid{
	text-align: center;
	width: 100%;
	box-sizing:content-box;
}

#globalWrapper .jumbotron .container-fluid h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

#globalWrapper .jumbotron .container-fluid p{
	font-family: 'Montserrat', sans-serif;
	font-weight:lighter;
	text-align: center;
	font-size: 16px;
	padding-left: 30px;
}

.jumbotron .button{
	margin-top: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
	padding-bottom: 20px;
}

a.button{
	position: relative;
    display: inline-block;
    zoom: 1;
    padding: 1em 1.6em .81em 1em;
    cursor: pointer;
    background: #2098d1;
    border: none;
	transition: background, color, .5s ease 0;
	-webkit-transition: background, color, .5s ease 0;
}

.button{
	color: #FFFFFF;
}

.jumbotron a:link, a:visited{
	text-decoration: none;
}


a.button:hover{
	background: rgba(52,86,147,1.00); 
}
/* ----------- textContainer  ---------------*/

.group{
	zoom: 1;
	margin: 0 auto;
	max-width: 96%;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.textContainer{
	width: 100%;
}

.textContainer:before, .textContainer:after {
  content: "";
  display: table;
}

.textContainer:after{
	clear: both;
}

.textContainer.featured{
	margin: 0 auto;
}

.textContainer h2{
	font-size: 1.625em;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}


/*pending reassignment*/
h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

ul, ol{
	list-style: none;
}

ul, menu, dir {
    display: block;
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
   -webkit-padding-start: 40px;
}

.featured .work li{
	position: relative;
    word-break: break-word;
    margin: 0 50px 40px 0;
}

.three-up p{
	text-align: left;
}

/*
.three-up>* {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}
*/


.textContainer .three-up{
	display: flex;
	display: -webkit-box;
	display:-webkit-flex;
	display: -ms-flexbox;
	-ms-justify-content:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex: 1;
	flex: 1;
}

.three-up a:link, a:visited{
	text-decoration: none;
}

.three-up h3 a:link, a:visited{
	text-decoration: none;
}

@media only sreen and (min-width: 900px){
.three-up>*:nth-child(2n+1){
		margin-left: 0;
		margin-right:0;
};

.textContainer li a{
	width: 32%;
}
 
.three-up{
	width: 32%;
}
.three-up{
}
}

@media only sreen and (min-width: 568px) and (max-width : 850px){
.three-up>*{
	width: 46.5%;
}

.textContainer three-up li a{
	width: 46.5%;
}

.three-up{
	padding: 0;
	margin: 0.3%;
}
}

@media only sreen and (min-width: 320px) and (max-width : 562px){
.three-up>*{
	width: 100%;
	margin: 0 auto;
}	

.three-up{
	padding: 0;
	margin: 0 auto;
}
}

.textContainer .three-up li a {
    display:block;
    height: 230px;
    width: 296px;
    margin-right: 1.5%
	margin-down: 1.8%
	padding-left: 1.8%
    background: #eee;
    text-align: center;
    transform: translateZ(0);
    overflow: scroll;
	-moz-flex:1;
	-ms-flex:1;
	-o-flex:1;
	-webkit-flex:1;
	flex:1;
	padding: 1.8%;
}

a {
   color: #2098d1;
   text-decoration: none;
   transition: color 0.3s;
}


.textContainer h2{
	font-family: source-sans-pro, sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: .01em;
	color:rgba(255,255,255,1.00);
	margin: 0 0 0 0;	
	letter-spacing: 0.1em;
	font-size: 30px;
	font-weight: normal;
	padding: 0;
	margin: 0 auto 2.5%;
	text-align:center; 
	background:rgba(97,97,97,1.00);
} 

.textContainer p{
	color:rgba(0,0,0,1.00);
}

.three-up a{
	color: #2098d1;
}
/* ------------------ Gallery ---------- */
#gallery{
	background:rgba(237,237,237,1.00);
}

#gallery {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-top: 0;
	margin-bottom: 1.5%;
	margin-left: auto;
	margin-right: auto;
	background-color:#fff;
	padding: 0.9%;
}


#gallery h2 {
	font-family: source-sans-pro, sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: .01em;
	color:rgba(255,255,255,1.00);
	margin: 0 0 0 0;	
	letter-spacing: 0.1em;
	font-size: 30px;
	font-weight: normal;
	padding: 0;
	margin: 0 auto;
	text-align:center; 
	background:rgba(97,97,97,1.00);
}

#gallery h4 {
	margin: 0;
	font-family:source-sans-pro, sans-serif;
	font-weight:500;
	letter-spacing:.01em;
	color:#333333;
}

#gallery h3 {
	font-family:source-sans-pro, sans-serif;
	letter-spacing:.01em;
	color:#5E5E5E;
	text-align:left;
	margin: 20px 0 0 50px;
	font-weight:400;
	font-family: "Abril Text Italic", "Georgia Italic", "Times New Roman Italic", "Times Italic", serif;
	text-align: center;
	font-style: italic;
	font-size: 26px;
	font-weight: normal;
	color:white;
}
/*
p {
	display: block;
	font-size: 12px;
	width: 80%;
	margin: 5px 0px 0px 50px;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: 'source-sans-pro; sans-serif';
	margin: 4px 24px 12px;
	color:white;
	font-family:sans-serif;
}
*/
#lightboxWrap {
	margin: 30px 0 0 50px;
	width:90%;
	padding: 0;
}

#gallery img {
	width: 100%;
	opacity: .7;
	outline: none;
}
#gallery a:hover img {
	/*opacity settings below*/
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

#gallery .imgGallery .thumbnailCaption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: block;
	height: 0%;
	overflow: hidden;
	padding: 0px;
	font: 1em/1.2em source-sans-pro, sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(55, 192, 253, 0.0);
}
#gallery .imgGallery:hover .thumbnailCaption {
	height: 25%;
	padding: 5% 5%;
	background-color: rgba(255,255,255,.6);
	-moz-transition: height .4s, background-color .3s ease;
}
.imgGallery {
	position: relative;
	display: inline-block;
	outline: none;
	width: 22.5%;
	margin: 0 1.33% 0 0;
}
.thumbnailWrapper{
	background-color: #000000;
}

/*-----  footer    ---------*/
.footerGroup{
    height: 250px;
	background:rgba(42,42,42,1.00);
	padding: 0 30px 0 30px;
	width: 100%;
	margin: 0 auto;
	color:rgba(255,255,255,1.00);
	border-bottom: 3px solid #2098d1;
}

.footerDescription{
	display: flex;
	display: -webkit-box;
	display:-webkit-flex;
	display: -ms-flexbox;
	-webkit-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	margin-top: 8%;
}

.footerDescription p{
	-webkit-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	padding-left: 10px;
	-webkit-lex-wrap:wrap;
	-ms-flex-wrap:wrap;
	-o-flex-wrap:wrap;
	flex-wrap:wrap;
}

.third{
	margin-top: 10.8%;
	margin-bottom: 0.5%;
}

.descriptionDt{
	line-height: 140%;
}

.descriptionDt a{
   color:#2098d1;
}

.descriptionDd{
	padding-bottom: 3.8%;	
}

.descriptionDd:nth-child(3){
	padding-bottom: 0;	
}

.footerLinks a{
	color:#2098d1;	
}

.footerLinks{
    zoom: 1;
	margin-top: 54px;
}

.socialLinks li{
	display: flex;
	display: -webkit-box;
	display:-webkit-flex;
	display: -ms-flexbox;
}

.socialLinks p{
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-webkit-lex-wrap:wrap;
	-ms-flex-wrap:wrap;
	-o-flex-wrap:wrap;
	flex-wrap: wrap;
}

.footerLinks p{
	padding-left: 10px;
}
.footerLinks ul{
	list-style-type: none;
}

.footerLinks li{
	padding: 10px 10px 10px 0;
}

.no-wrap-text {
    overflow: hidden;
}
/*
.github{
	border: 1px solid #FFFFFF;
}*/

/*---------------------------------------------------------------------------------------------
Contact
------------------------------------------------------------------------------------------------*/
input {
	border: 2px solid #eeeeee;
	height: 46px;
	margin: 10px 0 0 0;
	padding: 1%;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro, sans-serif;
}

#fname{
	width:100%;
}

#lname{
	width:100%;
}

#email {
	width:100%;
}

#telephone {
	width: 100%;
}

#message {
	width: 100%;
	height: 6em;
}
/*
input[type=checkbox] {
	visibility: hidden;
}

#checkbox {
	position: absolute;
	top: 0;
  	left: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
}

.customCheck {
	width: 90%;
	float: left;
	margin-top: 20px;
	position: relative;
}

.customCheck label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.customCheck label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.customCheck label:hover::after {
	opacity: 0.5;
}

.customCheck input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.robot {
	display: inline-block;
	position: relative;
	width: 60%;
	margin: 0 0 0 30px;
	line-height: 1em;
}
*/
#submit {
	display: block;
	border: 0;
	width: 25%;
	height: 60px;
	margin: 30px auto 0;
	background: #2098d1;
	color: #333;
	text-align: center;
	transition: background, color, .5s ease 0;
	-webkit-transition: background, color, .5s ease 0;
	border: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #FFFFFF;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 900;
	font-family: source-sans-pro; sans-serif;
}

#submit:hover {
	background: rgba(52,86,147,1.00);
	border: 1px #DADADA;
	color: #C43C3E;
}
/*
.contactWrapper{
	display: flex;
	display: -webkit-box;
	display:-webkit-flex;
	display: -ms-flexbox;
	-ms-justify-content:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex: 1;
	flex: 1;
}
*/
#contactBox {
	position: relative;
	margin: 0 auto;
	padding:10px 0;
	height: auto;
	width: 50%;
	min-width: 325px;
}

*:focus {
	outline: none;
}

.contactForm {
	display: block;
	margin: 20px 0 0 0;
	width: 90%;
}



/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}